.regButton
{
  background: #ffffff;
  background: 1px solid gold;
  border-radius: 10px;
  padding: 6px 24px;
  cursor: pointer;
  font-size: 25px;
}

.regButton:hover
{
  background: gold;
}

#window
{
  width: 350px;
  height: 530px;
  margin: 40px auto;
  background: #fff;
  border: 1px solid #fff;
  border-radius: 15px;
  z-index: 150;
  display: none;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.form
{
  width: 275px;
  margin: -15px auto 20px auto;
  text-align: center;
}

.form1
{
  width: 275px;
  margin: 450px auto 20px auto;
  text-align: center;
}

.input
{
  width: 260px;
  padding: 5px;
  margin-bottom: 10px;
}

.radio
{
  margin-bottom: 10px;
}

#gray
{
  background-color: rgba(1,1,1, 0.75);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: none;
  z-index: 100;
  overflow: auto;
}

.close
{
  margin: 10px 0 0 320px;
  cursor: pointer;
  border: 1px solid #ccc;
  padding: 2px;
  background: #fff;
}

body
{
  background: black;
}